@model TwitR.Models.TweetListViewModel

@{
    ViewData["Title"] = "Anasayfa";
}

<div class="float-right" id="btnGirisYap">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#userLoginModal">Giriş Yap</button>
</div>

<br>
<div id="tweetList">

    @if (Model.Tweets != null)
    {
        @foreach (var item in Model.Tweets)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="tweet-label border">@item.TweetText</label>
                    </div>
                </div>
            </div>
        }
    }
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <button type="button" id="btnTweetSend" class="btn btn-primary" data-toggle="modal" data-target="#tweetSendModal">
            Tweet At
        </button>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="tweetSendModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tweet At</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <textarea class="form-control" id="tweetSendText" rows="4"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="tweetSend">Gönder</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="userLoginModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Giriş Yap</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" id="inputUserName" placeholder="Kullanıcı Adı" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputFirstName" placeholder="Adınız" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputLastName" placeholder="Soyadınız" />
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="inputAge" placeholder="Yaşınız" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnLogin">Giriş Yap</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            var user = null;
            var connection = new signalR.HubConnectionBuilder().withUrl("/TweetHub").build();

            $("#btnTweetSend").prop('disabled', true);

            connection.start().then(function() {
                $("#btnTweetSend").prop('disabled', false);

            }).catch(function(err) {
                console.error(err.toString());
            });

            connection.on("ReceiveTweet", function(receivedTweet) {
                console.log("receivedTweet" + receivedTweet);
                let html = '';
                html = `<div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="tweet-label border">${receivedTweet.TweetText}</label>
                                            </div>
                                        </div>
                                    </div>`;

                $("#tweetList").append(html);
            });

            if (userName != null) {
                $("#tweetSend").click(function() {
                    let tweetText = $("#tweetSendText").val();
                    connection.invoke("SendTweet", tweetText, userName).catch(function(err) {
                        return console.error(err.toString());
                    });
                });
            }

            function OnComplete() {
                $("#userLoginModal").modal("hide");
            }

            $("#btnLogin").click(function() {
                let userName = $("#inputUserName").val();
                let firstName = $("#inputFirstName").val();
                let lastName = $("#inputLastName").val();
                let age = $("#inputAge").val();

                user = {
                    'UserName': userName,
                    'FirstName': firstName,
                    'LastName': lastName,
                    'Age': age
                };

                if (user != null) {
                    connection.invoke("AddLoginUser", user);
                }

                $("#btnGirisYap").html(`<span>${userName}</span>`)
            });
        });
    </script>
    }
