<div class="modal fade" tabindex="-1" role="dialog" id="modalUserDetails">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Kullanıcı Bilgileri</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Kullanıcı Adı</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">UserName</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Adı</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">FirstName</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Soyadı</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">LastName</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Yaşı</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">Age</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
