@model TwitR.Models.TweetListViewModel

<input type="hidden" asp-for="LoginUser.ConnectionId"/>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="LoginUser.UserName" class="control-label"></label>
    <input asp-for="LoginUser.UserName" class="form-control" />
    <span asp-validation-for="LoginUser.UserName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="LoginUser.FirstName" class="control-label"></label>
    <input asp-for="LoginUser.FirstName" class="form-control" />
    <span asp-validation-for="LoginUser.FirstName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="LoginUser.LastName" class="control-label"></label>
    <input asp-for="LoginUser.LastName" class="form-control"/>
    <span asp-validation-for="LoginUser.LastName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="LoginUser.Age" class="control-label"></label>
    <input asp-for="LoginUser.Age" class="form-control" />
    <span asp-validation-for="LoginUser.Age" class="text-danger"></span>
</div>